body, div,ul,li {
    margin:0px;padding:0px;
}
li {
    list-style: none;
    display: inline-block;
}

a { text-decoration: none;}

a:visited {
    color : gray;
}

a:link {
  color: black;
}


#wrapper {
    margin: 50px auto;
}

.search-form{
    width : 90%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    min-width: 300px;
}

.search-form-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.formContainer {overflow: hidden;}

.formContainer > form {
    position: relative;
}

.clearQuery {
    color: #E0D7D7;
    border: 1px solid #E0D7D7;
    border-radius: 50%;
    padding: .4em;
    width: 5%;
    display: inline-block;
    text-align: center;
    line-height: 1.2em;
}

.search-form div.inputWrap {
    width: 85%;
    border : 1px solid rgba(0, 0, 0, 0.3)
}

.inputWrap, .buttonWrap {
    height: 50px;
    float: left;
}

.buttonWrap {
    margin-left: 2%;
}

.buttonWrap button {
    height: 50px;
    width: 100%;
}

.search-form input.input-field{
    width: 80%; 
    height: 40px;
    font-size: 1.5em;
    border : none;
    outline: none;
    cursor:auto;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.search-form input.input-field, .search-form .input-field:focus,
{
    border: 1px solid #0C0;
}

.search-form button[type=submit] {
    border: none;
    padding: 8px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.search-form button[type=submit]:hover {
    background: #EA7B00;
    color: #fff;
}

.auto-complete-wrap, .recent-word-wrap {
    width: 85%;
    height: 200px;
    border: 1px solid rgba(115, 115, 115, 0.31);
    position: relative;
    border-top: none;
}

.auto-complete-wrap {
   margin-top: -3px;
   overflow: auto;
}

.ul-wrap {
    padding-top : 1em;
}

.ul-wrap > li {
    display: block;
    padding-left: 0.3em;
    padding-bottom: 0.6em;
    font-size: 1.1em;
}

.closeLayer {
    position: absolute;
    top: 170px;
    left: 80%;
    border: 0;
    border-radius: 10%;
    background-color: none;
    color: #B3B3B3;
}
@media only screen and (max-width: 500px) {
}

         